<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.cuiyijie.joyea.dao.joyea.JoyeaCheckItemDao">
    <select id="selectByOperationIdAndOperationNo" parameterType="java.lang.String"
            resultType="me.cuiyijie.joyea.domain.JoyeaCheckItem">
        SELECT b.FID             AS id,
               b.FSEQ            AS seq,
               b.CFCHECKSTANDARD AS checkStandard,
               c.FID             AS checkTypeId,
               c.FNAME_L2        AS checkTypeName
        FROM CT_BAS_MaterialCheckItems a
                 LEFT JOIN CT_BAS_MaterialCICI b ON a.FID = b.FPARENTID
                 LEFT JOIN CT_BAS_QualityCheckType c ON b.CFTypeID = c.FID
        WHERE CFOperationID = #{operationId,jdbcType=VARCHAR}
          AND CFOPERATIONNO = #{operationNo,jdbcType=VARCHAR}
        ORDER BY b.FSEQ
    </select>
</mapper>