<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.cuiyijie.joyea.dao.joyea.JoyeaOperationDao">
    <select id="selectByManufactureOrder" parameterType="java.lang.String"
            resultType="me.cuiyijie.joyea.domain.JoyeaOperation">
        SELECT cpt.CFMANUFACTUREORDER AS "manufactureOrder",
               cpt.CFTASKID           AS "taskId",
               cpt.CFOPERATIONNAME    AS "operationName",
               cpt.CFSTATUS           AS "status",
               cpt.CFOPERATIONID      AS "operationId",
               cpt.CFOPERATIONNO      AS "operationNo",
               cptask.CFWORKPERSONID  AS "workPersonId",
               tbp.FNAME_L2           AS "workPersonName",
               cpt.CFOLDBEGINTIME     AS "startTime",
               cpt.CFOLDENDTIME       AS "endTime",
               cpt.CFSEQ              AS "seq"
        FROM CT_PRE_TASKBMO cpt
                 LEFT JOIN CT_PRJ_TASK cptask ON cptask.FID = cpt.CFTASKID
                 LEFT JOIN T_BD_PERSON tbp ON tbp.FID = cptask.cfworkpersonid
        WHERE cpt.CFManufactureOrder = #{manufactureId,jdbcType=VARCHAR}
          AND cpt.CFOPERATIONID is not null
        ORDER BY cpt.CFSEQ
    </select>
</mapper>